* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 55vw;
}

.header {
    background: #1f2937;
    display: flex;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.header-logo {
    margin-left: 10%;;
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8
}

a {
    text-decoration: none;
    margin-left: 10px;
    font-size: 18px;
    color: #e5e7eb
}

a:last-child {
    margin-right: 10%;;
}

.content {
    display: flex;
    height: 40vh;
    background: #1f2937;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid red;
}

.main,
.image{
    flex-basis: 50%;
}

.main-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.main-text {
    font-size: 18px;
    color: #e5e7eb
}

button {
    background: #3882f6;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
}

.main {
    margin-left: 10%;
}

.image {
    color: black;
    align-self: center;
    padding: 80px;
    background: white;
    opacity: 0.3;
    margin-right: 10%;;
}