* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 55vw;
}

.header {
    background: #1f2937;
    display: flex;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.header-logo {
    margin-left: 10%;;
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8
}

a {
    text-decoration: none;
    margin-left: 10px;
    font-size: 18px;
    color: #e5e7eb
}

a:last-child {
    margin-right: 10%;;
}

.content {
    display: flex;
    height: 40vh;
    background: #1f2937;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.main,
.image{
    flex-basis: 50%;
}

.main-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: 10px;
}

.main-text {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}

button {
    background: #3882f6;
    color: #fff;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid white;
}

.main {
    margin-left: 10%;
}

.image {
    color: white;
    align-self: center;
    padding: 100px;
    background: gray;
    opacity: 0.9;
    margin-right: 10%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.random-info {
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random-info h3 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 30px;
}

.below-random {
    display: flex;
    justify-content: center;
    padding: 0 250px;
    gap: 30px
}

.common {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}

.common div {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 5px solid blue;
}

.common p {
    text-align: center;
}

.quote {
    height: 30vh;
    padding: 0 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background: #e5e7eb;
    font-family: Arial;
}

.quote-text {
    font-size: 25px;
    font-weight: lighter;
}

.author {
    align-self: flex-end;
}

.signup {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-bg {
    display: flex;
    gap: 100px;
    padding: 40px 80px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    gao: 20px;
    color: #fff;
    background: #3882f6;
}